name: Docker CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/server/docker/izcc2025MRT
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S git pull origin main
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S docker build -t mrt2025:latest ./flask
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S docker stop mrt2025 || true
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S docker rm mrt2025 || true
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S docker run -d --name mrt2025 -p 4011:8080 mrt2025:latest
            echo ${{ secrets.SERVER_USER_PWD }} | sudo -S docker image prune -f